body {
    font-family: verdana, helvetica;
    margin: 0px 0px 250px 0px
}

#form {
    display: none;
}

#form input[type=text] {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.embedded {
    margin: 0px;
    padding: 0px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
